rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // 歌曲文件规则
    match /songs/{userId}/{playlistId}/{songName} {
      // 允许用户上传自己的歌曲文件
      allow create: if request.auth != null && request.auth.uid == userId
                          && request.resource.size < 15 * 1024 * 1024
                          && request.resource.contentType.matches('audio/.*');
      // 允许用户删除自己的歌曲文件
      allow delete: if request.auth != null && request.auth.uid == userId;
      // 允许所有人读取
      allow read: if true;
    }
    
    // 封面图片规则
    match /cover/{userId}/{imageName} {
      // 允许用户上传自己的封面图片
      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.size < 10 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*');
      // 允许用户删除自己的封面图片
      allow delete: if request.auth != null && request.auth.uid == userId;
      // 允许所有人读取
      allow read: if true;
    }
  }
}

